name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GOOS: [darwin, linux]
        GOARCH: [amd64, arm64]

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Test
      run: go test -v .
    - name: Build Client
      run: go build -o tcpbc-${GOOS}-${GOARCH} -v ./cmd/client
    - name: Build Server
      run: go build -o tcpbs-${GOOS}-${GOARCH} -v ./cmd/server
